@model List<ProjectX.Models.PlacesViewModel>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>*@
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAkUFML8LL4ofXmhgLhGuEmjyZUIuQY8J0&amp;sensor=false"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/jquery-ui.css")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @*    @Scripts.Render("~/Scripts/MapsCustom.js")*@
    @Scripts.Render("~/Scripts/MainCustom.js")
    @Scripts.Render("~/Scripts/markerCluster.js")
    @Styles.Render("~/Content/bootstrap-modal-bs3patch.css")
    @Styles.Render("~/Content/bootstrap-modal.css")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top customMainTop">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <div id="bodyContent" class="container body-content">
        @RenderBody()

        <div id="ModalContent">
        </div>
        <div id="overlay"></div>

        <div style="height:30%">
            <div id="Map" class="body-content"></div>
        </div>

    </div>
    @if(User.Identity.IsAuthenticated)
    { 
        <footer style="padding:10px;">
            <button type="button" id="btnPosts" class="btn btn-info btn-sm">Enviar Post</button>
        </footer>
    }

    <script type="text/javascript">
        var teste;
        var map;

        function initialize() {
            var latlng = new google.maps.LatLng(-21.7669294, -43.353678);

            var options = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };

            map = new google.maps.Map(document.getElementById("Map"), options);
        }

        initialize();

        function carregarPontos() {
            var markers  = [];
    
                @foreach (var place in Model) {
                <text>

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(@place.Lat,@place.Lon),
                title: "@System.Web.HttpUtility.HtmlDecode(place.Name)",
                icon: "@place.Img"
            });

            google.maps.event.addListener(marker, 'click', function() {
                
                var classe = "";
                $.post("/DescribePlace/RetornarViewAjax", { Id : @place.Id })
                        .done(function (data) {
                            $("#overlay").show();
                            $("#ModalContent").html(data);
                            $("#modal").addClass(classe);
                            $("body").css("overflow", "hidden");
                            responsive();
                        });
                return false;
                

            });

            markers.push(marker);

            </text>
            }
            var markerCluster = new MarkerClusterer(map, markers);
          
            
                var markerCluster = new MarkerClusterer(map, markers);    
        }

        carregarPontos();
        function responsive() {
            var wdt = $(document).width();
            if (wdt < 500) {
                $("#Legenda").hide();
                $("#txtDesc").attr("id", "txtDescResponsivo");
                $("#ddPlace").attr("id", "ddPlaceResponsivo");
                $("#divTrackQuantity").attr("id", "divTrackQuantityResponsive");
                $("#divTrackQuality").attr("id", "divTrackQualityResponsive");

                $(".modalPosts").addClass("modalPostsResponsive");
            } else {
                $("#Legenda").show();
                $("#txtDescResponsivo").attr("id", "txtDesc");
                $("#ddPlaceResponsivo").attr("id", "ddPlace");
                $("#divTrackQuantityResponsive").attr("id", "divTrackQuantity");
                $("#divTrackQualityResponsive").attr("id", "divTrackQuality");

                $(".modalPostsResponsive").removeClass("modalPostsResponsive");
            }
        }
    </script>
    @Scripts.Render("~/Scripts/bootstrap-modalmanager.js");
    @Scripts.Render("~/Scripts/bootstrap-modal.js");

</body>

</html>
