@model ProjectX.Models.ViewModelPost
@Styles.Render("~/Content/Posts/Index.css")
@Scripts.Render("~/Scripts/Posts/Index.js")

<div id="RenderBody">
    <div id="modal">
        <div id="divAnonimo">
            @Html.CheckBox("cbAnonimo", false) <label id="txtAnonino"> Anônimo</label>
        </div>

        <div id="divDesc">
            <label id="titleDesc">Descrição</label><br />
            <div contenteditable="true" id="txtDesc">
                
            </div>
            <div  id="DivImgPreview">
                <img id="closeImgPreview" src="/Images/close.png" />
                <img id="imgPreview" src="#" />
            </div>
            </div>
        <br />
        @if (!Model.isBaladaSelecionada)
        {
            <div id="divPlace">
                <label id="titleDesc">Local</label><br />
                <select name="listaBaladas" id="ddPlace">
                    @foreach (var balada in Model.ListaBaladas)
                    {
                        <option value="@balada.Id">@balada.Nome</option>
                    }
                </select>
            </div>
        }
        else
        {
            <div id="divPlace" style="display:none">
                <label id="titleDesc">Local</label><br />
                <select name="listaBaladas" id="ddPlace">
                    @foreach (var balada in Model.ListaBaladas)
                    {
                        <option value="@balada.Id">@balada.Nome</option>
                    }
                </select>
            
            </div>
        }

        <div id="divTrackQuality">
            @Html.Partial("~/Views/Shared/_TrackBarQuality.cshtml")
        </div>
        <div id="divTrackQuantity">
            @Html.Partial("~/Views/Shared/_TrackBarQuantity.cshtml")
        </div>

        @using (Html.BeginForm("CriarPost", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" name="hdnAnonimo" id="hdnAnonimo" />
            <input type="hidden" name="hdnDescricao" id="hdnDescricao" />
            <input type="hidden" name="hdnLocal" id="hdnLocal" />
            <input type="hidden" name="hdnQtd" id="hdnQtd" />
            <input type="hidden" name="hdnQld" id="hdnQld" />
            <input type="file" name="hdnImage" id="hdnImage" data-provide="fileinput" accept="image/*;capture=camera" />
            <button type="submit" id="hdnPostar" style="display:none;"></button>

            <div class="btns">
                <button id="btnPostar" class="btn btn-success">Postar</button>
                <button type="button" id="close" class="btn" onclick="closeModal()">Close</button>
            </div>
        }
        <button id="linkAnexar" class="btn btn-danger">Anexar</button>

    </div>
</div>