@model ProjectX.Models.ViewModelPost

@{
    var caminho = "/images/places/" + Model.BaladaSelecionada.Id + ".jpg";
}

<img id="imgPlace" src="@caminho" />

<div id="txtPlaceName">@Model.Name</div>

<div id="divRatio">
    <div id="ratio"></div>
    <span id="ratioValue"></span>
</div>

@*<div id="divComent">
    <img id="imgComent" src="/images/baloon.png" />
    <span id="comentTitle">Comentários</span>
</div>*@

@if ((Model.Endereco != null) && (Model.Endereco != ""))
{
    <div id="divEndereco" style="margin-left: 164px;">
        <div id="Endereco">@Model.Endereco</div>
    </div>
}

@if ((Model.Telefone != null) && (Model.Telefone != ""))
{
    <div id="divTelefone">
        <div id="Telefone">@Model.Telefone</div>
    </div>
}

@if ((Model.Site != null) && (Model.Site != ""))
{
    <div id="divWebSite" style="margin-top: 6px;">
        <div id="WebSite"><a href="@Model.Site" target="_blank">@Model.Site</a></div>
    </div>
}

<input type="hidden" id="ratioValueHdn" value="@Model.Rating"/>

<script>
   
    $(document).ready(function () {

        var ratioValue = $("#ratioValueHdn").val();

        $.fn.raty.defaults.path = '/Plugins/Raty/lib/images';
        $('#ratio').raty({ score: ratioValue, readOnly: true });

        $("#ratioValue").text(ratioValue);       

    });
</script>